{% extends "base.html" %}

{% block content %}

<style type="text/css">
    .divLeft {
        width:100px;
        display: block;
        float: left;
        margin-left:7px;
        margin-right:7px;

        margin-bottom:10px;

    }
    .divRight {
        width:100px;
        display: block;
        float: right;
        margin-bottom:10px;
    }
    
    </style>
    
<div class="column is-8 is-offset-2 ">
    <h3 class="title">Shop</h3>
    <div class="box">

        <form method="POST" action="/shop">
          
                 
            
            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop-products-area">
                    <div class="row">
                        {%for i in range(0, plen)%} 
  
                        <!-- Single Product Area -->
                        <div class="divLeft">
                            <div class="single-product-area mb-50">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <a href="shop-details.html"><img src="../static/img/bg-img/40.png" alt=""></a>
                                    <!-- Product Tag -->
                                    <div class="product-tag">
                                        <a href="#"></a>
                                    </div>
                                    <div class="product-meta d-flex">
                                        <a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
                                        <a href="cart.html" class="add-to-cart-btn">{{types[i]}}</a>
                                        <a href="#" class="compare-btn"><i class="arrow_left-right_alt"></i></a>
                                    </div>
                                </div>
                                <!-- Product Info -->
                                <div class="product-info mt-15 text-center">
                                    <a href="shop-details.html">
                                        <p>{{description[i]}}</p>
                                    </a>
                                    <h6>{{price[i]}}</h6>
                                </div>
                            </div>
                        </div>
                        {%endfor%}  

                        <!-- Single Product Area -->
                        
            <button class="button is-block is-info is-light is-large is-fullwidth is-rounded">Purchase</button>
        </form>
    </div>
</div>
{% endblock %}