<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PlantX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css"> -->
    <script type="text/javascript" src="../static/js/particles.js">
        // particles("../static/js/particles.js";
       </script>
</head>
<style>
    /* div { */
      /* background-image: url('../static/img/bg-img/2.jpg'); */
    /* } */
    </style>
<body id="particles-js">

    <section class="hero is-primary is-fullheight" >

        <div class="hero-head" id="particles-js">
            <nav class="navbar">
                <div class="container" aria-label="main navigation">

                    <div id="navbarMenuHeroA" class="navbar-menu" >
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.profile') }}" class="navbar-item">
                               {{current_user.Username}}
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated and 'C' in current_user.UserID%}
                            <a href="{{ url_for('main.post_product') }}" class="navbar-item">
                                Add Product
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('auth.signupCustomer') }}" class="navbar-item">
                                Sign Up Customer
                            </a>
                            <a href="{{ url_for('auth.signupGardener') }}" class="navbar-item">
                                Sign Up Gardener
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               Welcome, {{ name }} !
               {% endblock %}
            </div>
        </div>
    </section>

</body>

</html>
